#!/usr/bin/env python

PACKAGE = 'diff_drive_controller'

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, bool_t, double_t

gen = ParameterGenerator()

# Kinematic parameters related
gen.add("left_wheel_radius_multiplier", double_t, 0, "Left wheel radius multiplier.", 1.0, 0.5, 1.5)
gen.add("right_wheel_radius_multiplier", double_t, 0, "Right wheel radius multiplier.", 1.0, 0.5, 1.5)
gen.add("wheel_separation_multiplier", double_t, 0, "Wheel separation multiplier.", 1.0, 0.5, 1.5)

# Publication related
gen.add("publish_rate", double_t, 0, "Publish rate of odom.", 50.0, 0.0, 2000.0)
gen.add("enable_odom_tf", bool_t, 0, "Publish odom frame to tf.", True)

# Translation related
gen.add("linear_x_has_velocity_limits", bool_t, 0, "Enable velocity limits for linear x.", True)
gen.add("linear_x_min_velocity", double_t, 0, "Minimum velocity for linear x.", -1.0, -2.0, 0.0)
gen.add("linear_x_max_velocity", double_t, 0, "Maximum velocity for linear x.", 1.0, 0.0, 2.0)
gen.add("linear_x_has_acceleration_limits", bool_t, 0, "Enable acceleration limits for linear x.", True)
gen.add("linear_x_min_acceleration", double_t, 0, "Minimum acceleration for linear x.", -1.0, -10.0, 0.0)
gen.add("linear_x_max_acceleration", double_t, 0, "Maximum acceleration for linear x.", 1.0, 0.0, 10.0)
gen.add("linear_x_has_jerk_limits", bool_t, 0, "Enable jerk limits for linear x.", False)
gen.add("linear_x_min_jerk", double_t, 0, "Minimum jerk for linear x.", -1.0, -20.0, 0.0)
gen.add("linear_x_max_jerk", double_t, 0, "Maximum jerk for linear x.", 1.0, 0.0, 20.0)

# Angular related
gen.add("angular_z_has_velocity_limits", bool_t, 0, "Enable velocity limits for angular z.", True)
gen.add("angular_z_min_velocity", double_t, 0, "Minimum velocity for angular z.", -1.0, -6.28, 0.0)
gen.add("angular_z_max_velocity", double_t, 0, "Maximum velocity for angular z.", 1.0, 0.0, 6.28)
gen.add("angular_z_has_acceleration_limits", bool_t, 0, "Enable acceleration limits for angular z.", True)
gen.add("angular_z_min_acceleration", double_t, 0, "Minimum acceleration for angular z.", -1.0, -30.0, 0.0)
gen.add("angular_z_max_acceleration", double_t, 0, "Maximum acceleration for angular z.", 1.0, 0.0, 30.0)
gen.add("angular_z_has_jerk_limits", bool_t, 0, "Enable jerk limits for angular z.", False)
gen.add("angular_z_min_jerk", double_t, 0, "Minimum jerk for angular z.", -1.0, -60.0, 0.0)
gen.add("angular_z_max_jerk", double_t, 0, "Maximum jerk for angular z.", 1.0, 0.0, 60.0)

exit(gen.generate(PACKAGE, "diff_drive_controller", "DiffDriveController"))
